/***** Variables *****/
:root {
  --type-heading: "Roboto Slab", serif;
  --type-body: "Source Sans Pro", sans-serif;

  --color-primary: #3d2616;
  --color-secondary: #ac8a65;
  --color-blk: #000000;
  --color-wht: #ffffff;
}

/***** Base*****/
html {
  box-sizing: border-box;
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-wht);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--type-heading);
  color: var(--color-primary);
}

img {
  max-width: 100%;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  font-family: var(--type-heading);
  margin-right: 1.5em;
}

/***** Layout *****/
.header {
  position: fixed;
  top: 0px;
  width: 100vw;
  background-color: white;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

.app-container.small .header {
  height: 2.625em;
}

.app-container.small nav {
  margin-top: 0.625em;
}

nav {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;  
}

.hero {
  background: url("../src/hero.jpg");
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

.wrapper {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 150px;
  height: auto;
  margin: 0.5em 1em 0.5em 0;
}
.app-container.small .logo {
  display: none;
}

.testimony, .services {
  width: 100vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
}

.testimony h2, .services h2 {
  color: var(--color-wht);
  font-size: 2em;
  font-style: italic;
}

.services {
  background-color: tomato;
  height: 33vh;
}
